.chart{
    display:flex;
    flex-direction: column;
    &:nth-of-type(1){
        flex:1 1 100%;
    }
    .small{
        margin:2rem;
    }

    .info-container{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .inner{
            flex:0 0 24%;
            text-align: left;
            color:#fff;
            padding: 1rem;
            margin:1rem 0;
            font-size: .8rem;
            span{
                display: block;
                font-size:2rem;
            }
        }
    }
    .recharts-label{
        color:#fff;
        tspan{
            position: relative;
            &:after{
                content:'%';
                position: absolute;
                top:0;
                right:0;
            }
        }
    }
}