.header{
    background-color: rgba(255, 255, 255, 0.05);
    flex:1 1 100%;
    margin:0 0 4rem;
    padding:1rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.05);
    .header__container{
        padding:0 1rem;
        max-width:1440px;
        margin:auto;
    }
    .logo{
        font-size: 2rem;
        font-weight:900;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}