.header{
    background-color: rgba(255, 255, 255, 0.05);
    flex:1 1 100%;
    margin:0 0 4rem;
    padding:1rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.05);
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column-reverse;
    }
    .header__container{
        padding:0 1rem;
        max-width:1440px;
        margin:auto;
        position: relative;
        @media (max-width: $breakpoint-tablet) {
            padding:0;
        }
    }
    .logo{
        font-size: 2rem;
        font-weight:900;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        @media (max-width: $breakpoint-phone) {
            font-size:1.6rem;
        }
    }
}

.contact-form-field{
    margin-bottom:1rem;
    input{
        display: block;
        background:rgba($color: #000000, $alpha: 0.3);
        color:#fff;
        border:0;
        font-family: $primary-font !important;
        min-height: 40px;
        text-transform: uppercase;
        padding:.5rem;
        width:100%;
    }
    textarea{
        background:rgba($color: #000000, $alpha: 0.3);
        font-family: $primary-font !important;
        padding:.5rem;
    }
    button{
        background:$primary-color;
        transition: background 200ms ease;
        &:hover{
            background:darken($primary-color, 4)
        }
    }
}

.menu-links{
    a{
        display: block;
        background:$primary-color;
        transition: background 200ms ease;
        color:#fff;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        padding:.5rem;
        margin-bottom: .8rem;
        &:last-of-type{
            background:none;
            color:#fff;
            &:hover{
                background:$primary-color;
            }
        }
    }
}