@import './reset';
@import './variables';
@import './input';
@import './header';
@import './charts';

body{
    background: #1f2024;
    font-family: $primary-font;
}

a {
    color:#fff;
    transition: color 200ms ease;
    &:visited {
        color:$primary-color;
    }
    &:hover, &:active {
        color:$primary-font !important;
        
    }
  }


.app{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        max-width:1440px;
        width:100%;
        margin:2rem auto;
        padding:0 1rem;
    }
}

.component{
    padding:1rem;
    .sub-component{
        background: #404351;
        background: -webkit-linear-gradient(top left, #404351, #2E2D3A);
        background: -moz-linear-gradient(top left, #404351, #2E2D3A);
        background: linear-gradient(to bottom right, #404351, #2E2D3A);
        box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.05);
    }
}

.recharts-cartesian-axis-tick-value{
    color:#fff;
}

.recharts-legend-item-text{
    color:#fff;
}

.intro-text{
    flex:1 1 100%;
    color:#fff;
    margin:0 0 2rem;
    p{
        margin-bottom:1rem;
        font-size: 1.2rem;
    }
}

.example-data{
    color:#fff;
    font-size:.8rem;
    opacity: .2;
    margin-top:2rem;
}